#page-header{
    background-color: #6f5499;
    margin-bottom: 20px;
}

#instil-logo{
    max-height: 200px;
}

.black{
    background-color: #141614;
}

.page-title{
    font-size: 4.0em;
}

.content{
    padding: 40px;
}

#page-header h1{
    color: #fff;
}

#page-header h6{
    color: #cdbfe3;
}

.margin-bottom{
    margin-bottom: 20px;
}